body {
    font-family: Arial;
}

.Indent {
    margin-left: 5pt;
    text-indent: -5pt;
}

.Lemma {
    font-family: Arial;
    font-size: 10pt;
    background-color: #FFFFFF;
    color: #000000;
}

.Lemma__LemmaSign {
    color: #009ADF;
    font-size: 24px;
    margin: 0 10px auto;
}

.Lemma__HomonymNumber {
    font-size: 8pt;
    font-weight: bold;
    vertical-align: super;
    color: #000070;
}

.Lemma__Notes {
    color: #FD8668;
}

.Lemma__Frequency {}

.Lemma__Modified {
    font-size: 9pt;
    color: #888888;
}

.Lemma__Created {
    font-size: 9pt;
    font-style: italic;
    color: #888888;
}

.Sense {
    color: #062A06;
}

.References {
    color: #0C5252;
    font-size: 18px;
}

.Subentry {
    color: #880502;
}

.Subentry__LemmaSign {
    font-weight: bold;
}

.Subentry__Frequency {}

.Primjer {
    font-size: 16px;
    color: #004000;
}

.Primjer__Primjer {
    font-style: italic;
}

.Primjer__Izvor {}

.Definicija {
    color: #000040;
}

.Definicija__definicija {
    font-size: 18px;
}

.TE {
    color: #066606;
}

.TE__TE {}

.Sense__SenseNumber {
    font-size: 9pt;
    font-weight: bold;
    vertical-align: super;
}

.Language__SearchScript {}

.Language__ClickScript {}

.Lemma__Naglaseno {
    font-size: 18px
}

.Gramaticki_blok {}

.Oblici {
    color: #800000;
    font-size: 18px;
    font-family: "00 ZRCola";
}

.Oblici__naglaseni {
    font-family: "00 ZRCola";
}

.Oblici__nenaglaseni {
    font-family: "00 ZRCola";
}

.Parnjaci {}

.Parnjaci__mocijski {}

.Parnjaci__vidski {}

.Oblici__vanjska_poveznica {}

.Subentry__stilska_odrednica {}

.Subentry__strucna_odrednica {}

.Sense__stilska_odrednica {}

.Sense__strucna_odrednica {}

.Sense__ograda {
    font-size: 12pt;
}

.Kolokacija {
    font-size: 11pt;
}

.Kolokacija__odrednica {
    color: #000000;
}

.Kolokacija__kolokacija {
    font-size: 16px;
    color: #800040;
}

.paragraf {}

.kolokacije {}

.primjeri {}

.vanjska_poveznica {}

.vanjska_poveznica__izvor {
    color: #000000;
}

.vanjska_poveznica__poveznica {
    color: #0080FF;
}

.Tvorbena_raz {
    font-family: "00 ZRCola";
    font-size: 12pt;
}

.Tvorbena_raz__tvorba {
    color: #004000;
}

.Parnjaci__oznaka {}

.Lemma__vrsta_rijeci {
    font-size: 18px
}

.Oblici__djeca {}

.Odrednice {}

.Odrednice__gramaticka {}

.Odrednice__stilska {}

.Odrednice__strucna {}

.Frazemi {}

.Frazemi__frazem {}

.Frazemi__objašnjenje {}

.Lemma__slika {}

.Lemma__zvuk {}

.Lemma__ModifiedBy {
    font-size: 9pt;
}

.Lemma__CreatedBy {
    font-size: 9pt;
    font-style: italic;
}

.Subentry__vrsta_rijeci {}

.Uporaba {}

.Uporaba__uporaba {}

.Tvorbena_raz__tvorenice {
    color: #000000;
}

.Poveznice {}

.poveznica {}

.poveznica__poveznica {}

.Stra_savjet {}

.Stra_savjet__savjet_ob {}

.poveznica__sveza {}

.poveznica__mrtvi {}

.Tvorbena_raz__mrtve_tvorenice {}

.Normativna_nap {}

.Normativna_nap__napomena {}

.Lemma_Stranci {}

.Lemma_Djeca {}

.Lemma_Djeca__natuknica {
    color: #009ADF;
    font-size: 24px;
    margin: 0 10px auto;
}

.Lemma_Djeca__vrsta_rijeci {}

.Lemma_Djeca__slogovi {}

.Definicija__definicija_stranic {
    font-size: 18px;
}

.Lemma_Stranci__natuknica {
    color: #009ADF;
    font-size: 24px;
    margin: 0 10px auto;
    font-family: Arial;
}

.Lemma_Stranci__vrsta_rijeci {}

.Lemma_Stranci__slogovi {}

.Lemma__Djeca {}

.Lemma__Stranci {}

.Definicija_djeca {}

.Definicija_djeca__definicija {}

.fliteri {
    margin: auto;
    display: block;
    text-align: center;
    cursor: pointer
}

.aktivan {
    background-color: #9CCC65;
}

.neaktivan {
    background-color: #FF8A80
}

button {
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    font-size: 18px
}



hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.stranci_modul, .djeciji_modul {
    display: none
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: inline-block;
}

.stranci_modul, .djeciji_modul {
    display: none
}

h2 {
    text-align: center;
    font-family: sans-serif
}

.naslov_natuknice {
    text-align: center
}

.igra {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px #E14122 solid;
    color: #E14122;
    transition: all .2s;
}

.igra:hover {
    background: #E14122
}

.ikona {
    width: 7rem;
    border-radius: 4px;
    margin: auto;
    display: block;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.link_ikone {
    display: block;
    padding: 2px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    line-height: 0;
    border-radius: 4px;
    transition: background-color 0.5s ease-out;
    color: #4ae;
    text-decoration: none;
    outline: 0;
}

.ikona:hover {
    border: 3px solid #4ae;
}

