
html, body
{
    overflow-x: hidden;
}

.slike_donje {
    height: 80px
}

.active,
.accordion:hover {}

.abeceda {
    font-weight: 600;
    line-height: 2em
}

.abeceda a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

hr {
    max-width: 1200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


[id^="crta"]{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: visible;
    width: 100%;
}

#crta-a:after {
    content: "A"
}

#crta-b:after {
    content: "B"
}

#crta-c:after {
    content: "C"
}

#crta-ccc:after {
    content: "Č"
}

#crta-cc:after {
    content: "Ć"
}

#crta-d:after {
    content: "D"
}

#crta-dd:after {
    content: "Đ"
}

#crta-dz:after {
    content: "Dž"
}

#crta-e:after {
    content: "E"
}

#crta-f:after {
    content: "F"
}

#crta-g:after {
    content: "G"
}

#crta-h:after {
    content: "H"
}

#crta-i:after {
    content: "I"
}

#crta-j:after {
    content: "J"
}

#crta-k:after {
    content: "K"
}

#crta-l:after {
    content: "L"
}

#crta-lj:after {
    content: "Lj"
}

#crta-m:after {
    content: "M"
}

#crta-n:after {
    content: "N"
}

#crta-nj:after {
    content: "Nj"
}

#crta-o:after {
    content: "O"
}

#crta-p:after {
    content: "P"
}

#crta-r:after {
    content: "R"
}

#crta-s:after {
    content: "S"
}

#crta-ss:after {
    content: "Š"
}

#crta-t:after {
    content: "T"
}

#crta-u:after {
    content: "U"
}

#crta-v:after {
    content: "V"
}

#crta-z:after {
    content: "Z"
}

#crta-zz:after {
    content: "Ž"
}

hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.8em;
    padding: 0 0.25em;
    background: #F8F9FB;
    left: 50%;
    transform: translate(-50%, 0);
}

.panel {
    padding: 0px 18px;
    background-color: #cbddf8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: block;
    border-radius: 0 0 5px 5px;
}

#zaglavlje {
    background: rgb(227, 242, 253);
    background: linear-gradient(180deg, rgba(227, 242, 253, 1) 0%, rgba(248, 249, 251, 1) 100%);
    width: 100%;
    padding-bottom: 20px;
}

html,
body {
    font-family: sans-serif !important;
    background-color: #F8F9FB;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

div {
    display: inline-block
}

.musko,
.zensko,
.tvorenice,
.sinonim,
.antonim {
    cursor: pointer
}

.glavna {
    color: #009ADF;
    font-size: 24px;
    margin: 0 10px auto;
}

p,
a {
    font-family: sans-serif;
    font-size: 1.2rem
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}

.natuknica {
    padding: 10px;
    border: 0.001px solid black;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    transition: border-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    color: black;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background: white;
    height: 20px;
    line-height: 1em;
}
.natuknica sup{font-size: 12px;}
.glossary__search__form {
    max-width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#glossarySearchInput,
#pronadi {
    margin: 10px 0px;
    font-size: 1.2rem;
    padding: 10px;
}
#glossarySearchInput{
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}
input[type=button] {
    
    border: none;
    background-color: #009DE0;
    color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

.form-control {
    box-shadow: none;
    padding: 13px 10px;
    padding-left: 10px;
    background: #FFF;
    color: #3a404d;
    border-radius: 5px;
    border-color: #DFE2E8;
    transition: border-color 0.5s ease-out;
    display: block;
    padding: 6px 12px;
    font-size: 1.2rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #009DE0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ui-menu {
    width: 195px!important;
    padding-left: initial!important;
    background: white
}

.natuknica:hover {
    border-color: #009DE0;
    color: #009DE0
}

.kontejner {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
}

.slovo {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    justify-content: space-evenly;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

#donji_izbornik {
    width: 100%;
    background: rgb(248, 249, 251);
    background: linear-gradient(180deg, rgba(248, 249, 251, 1) 0%, rgba(227, 242, 253, 1) 100%);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px
}

footer {
    width: 100%;
    background: #009DE0;
    color: white;
    padding: 20px;
    text-align: center;
    line-height: 1em;
}

.na {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    text-decoration: underline;
    -webkit-text-decoration-color: blue;
    /* Safari */
    text-decoration-color: blue
}

.inactive {
    display: none;
}

.active {
    display: block;
}

#rez {
    display: none;
    text-align: center
}

#pronadi {
    cursor: pointer;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    display: none;
    background-color: #241915;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    z-index: 10;
    line-height: 35px;
    background-color: #009DE0;
}

.natuknica3 {
    font-size: 18px
}

.gnja {
    width: 100%;
    margin: auto;
}

.Lemma__prvi_pregled {
    display: none;
}
.Lemma .Lemma__HomonymNumber{font-size: 18px;}
.Indent {
    margin-left: 5pt;
    text-indent: -5pt;
}

.Uporaba {
    color: #808080;
}

.Uporaba__uporaba {
    color: #000000;
}

.Tvorbena_raz__tvorenice {
    color: #000000;
}

.Poveznice {}

.poveznica {}

.poveznica__poveznica {}

.Stra_savjet {}

.Stra_savjet__savjet_ob {}

.poveznica__sveza {}

.poveznica__mrtvi {}

.Tvorbena_raz__mrtve_tvorenice {
    color: #000000;
}

.Normativna_nap {
    color: #000000;
}

.Normativna_nap__napomena {
    color: #000000;
}

.Lemma_Stranci {
    font-size: 2rem;
}

.Lemma_Djeca {
    font-size: 2rem;
}

.Lemma_Djeca__natuknica {}

.Lemma_Djeca__vrsta_rijeci {}

.Lemma_Djeca__slogovi {}

.Lemma_Stranci__natuknica {}

.Lemma_Stranci__vrsta_rijeci {}

.Lemma_Stranci__slogovi {}

.Lemma__Djeca {}

.Lemma__Stranci {}

.Definicija_djeca {}

.Definicija_djeca__definicija {}

.Lemma__Incomplete {}

.Lemma {
    color: #000000;
    font-size: 2rem;
}

.Lemma__LemmaSign {
    font-weight: bold;
    color: #000070;
}

.Lemma__HomonymNumber {
    font-size: 9pt;
    font-weight: bold;
    vertical-align: super;
    color: #000070;
}

.Lemma__Notes {
    color: #FD8668;
}

.Lemma__Frequency {}

.Lemma__Modified {
    font-size: 9pt;
    color: #888888;
}

.Lemma__Created {
    font-size: 9pt;
    font-style: italic;
    color: #888888;
}

.Sense {
    color: #062A06;
    display: block;
    margin-top: 10px;
}

.References {
    font-weight: bold;
    color: #0C5252;
}

.Subentry {
    color: #880502;
    margin-top: 10px;
}

.Subentry__LemmaSign {
    font-weight: bold;
}

.Subentry__Frequency {}

.Primjer {
    font-size: 11pt;
    text-decoration: none;
}

.Primjer__Primjer {
    font-style: italic;
    text-decoration: none;
    color: #1F4422;
}

.Primjer__Izvor {}

.Definicija {
    color: #000040;
    font-size: 1.4rem;
}

.Definicija__definicija {
    font-weight: bold;
}

.TE {
    color: #1F4422;
}

.TE__TE {}

.Sense__SenseNumber {
    font-size: 9pt;
    font-weight: bold;
    vertical-align: super;
}

.Language__SearchScript {}

.Language__ClickScript {}

.Lemma__Naglaseno {}

.Gramaticki_blok {}

.Oblici {
    color: #800000;
}

.Oblici__naglaseni {}

.Oblici__nenaglaseni {}

.Parnjaci {}

.Parnjaci__mocijski {}

.Parnjaci__vidski {}

.Oblici__vanjska_poveznica {}

.Subentry__stilska_odrednica {}

.Subentry__strucna_odrednica {}

.Sense__stilska_odrednica {}

.Sense__strucna_odrednica {}

.Sense__ograda {}

.Kolokacija {
    font-weight: bold;
}

.Kolokacija__odrednica {
    color: #000000;
}

.Kolokacija__kolokacija {
    font-weight: normal;
    color: #800040;
}

.paragraf {}

.kolokacije {
    font-weight: bold;
}

.primjeri {}

.vanjska_poveznica {}

.vanjska_poveznica__izvor {
    font-weight: bold;
    color: #000000;
}

.vanjska_poveznica__poveznica {
    color: #0080FF;
}

.Tvorbena_raz {
    font-size: 1.2rem;
}

.Tvorbena_raz__tvorba {
    color: #1F4422;
}

.Parnjaci__oznaka {}

.Lemma__vrsta_rijeci {}

.Oblici__djeca {}

.Odrednice {}

.Odrednice__gramaticka {}

.Odrednice__stilska {}

.Odrednice__strucna {}

.Frazemi {
    font-weight: bold;
    text-decoration: none;
}

.Frazemi__frazem {
    color: #880502;
}

.Frazemi__objašnjenje {}

.Lemma__slika {}

.Lemma__zvuk {}

.Lemma__ModifiedBy {
    font-size: 9pt;
}

.Lemma__CreatedBy {
    font-size: 9pt;
    font-style: italic;
}

.Subentry__vrsta_rijeci {}

.etimologija {}

.etimologija__motivacija {}

.Definicija__definicija_stranic {}

.Lemma__prvi_pregled {}

.Lemma__konacni_pregled {}

select {
    background: #FFF;
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: #3a404d;
    border-radius: 5px;
    border-color: #DFE2E8;
    transition: border-color 0.5s ease-out;
    height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #009DE0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.osnovni {
    width: 100%;
}

.osnovni,
.stranci {
    width: 100%;
}


a{color:#009DE0}
#birac {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
}
.container:nth-child(2),.container:nth-child(3){margin-left: 10px;}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 0.5px solid #009DE0;
    transition: background-color 0.5s ease;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media only screen and (max-width: 480px) {
    #glossarySearchInput{width:200px}
}
